@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    /* Colors */
    --body-color : #e4e9f7 ;
    --sidebar-color : #fff;
    --primary-color : #695cfe ;
    --primary-color-light : #bbd0ff ;
    --toggle-color : #ddd ;
    --text-color : #707070;
    /* transition */
    --tran-02 : all 0.2s ease ;
    --tran-03 : all 0.32s ease ;
    --tran-04 : all 0.4s ease ;
    --tran-05 : all 0.5s ease ;
}
body {
    height: 100vh;
    background: var(--body-color);
    transition: var(--tran-05);
}
body.dark {
    --body-color : #18191a ;
    --sidebar-color : #242526;
    --primary-color : #3a3b3c ;
    --primary-color-light : #3a3b3c ;
    --toggle-color : #ddd ;
    --text-color : #ccc;
}
  /* <!--=============== header  ===============--> */
  /* side-bar */
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    padding: 10px 14px;
    background: var(--sidebar-color);
    transition: var(--tran-05);
    z-index: 100;
}
.sidebar.close {
    width: 88px;
}
/* Resuable CSS */
.sidebar .text{
    font-size: 1rem;
    font-weight: 500;
    color: var(--text-color);
    transition: var(--tran-03);
    white-space: nowrap;
    opacity: 1;
}
.sidebar.close .text{
    opacity: 0;
}
.sidebar .image {
    user-select: none;
    min-width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sidebar li {
    height: 50px;
    margin-top: 10px;
    list-style: none;
    display: flex;
    align-items: center;
}
.sidebar li .icon{
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 60px;
    font-size: 20px;
}
.sidebar li .icon , 
.sidebar li .text {
     color: var(--text-color);
     transition: var(--tran-03);
}
.sidebar header {
    position: relative;

}
.sidebar .image-text img {
    width: 40px;
    border-radius: 6px;
}
.sidebar header .image-text {
    display: flex;
    align-items: center;
    
}
header .image-text .header-text {
    display: flex;
    flex-direction: column;
}
.header-text .name  {
    font-weight: 600 ;
    
}
.header-text .profession  {
    /* font-weight: 600 ; */
    margin-top: -2px;

}
.sidebar header .toggle {
    /* line-height: 10px; */
    position:absolute;
    top: 50%;
    right: -25px;
    transform: translateY(-50%) rotate(180deg);
    height: 25px;
    width: 25px;
    background-color: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: var(--sidebar-color);
    font-size: 22px;
    transition: var(--tran-03);
}
.sidebar .menu {
    margin-top: 35px;
}
.sidebar.close header .toggle {
    transform: translateY(-50%);
}
body.dark .sidebar header .toggle {
    color: var(--text-color);
}
body.dark .sidebar header .toggle {
    color: var(--text-color);
}
.sidebar .search-box  {
    background-color: var(--primary-color-light);
    border-radius: 6px;
    transition: var(--tran-05);
}
.search-box input {
    height: 100%;
    width: 100%;
    outline: none;
    border-radius: 6px;
    font-size: 16px;
    font-weight: 500;
    border: none;
    background-color: var(--primary-color-light);
    transition: var(--tran-05);
    color: var(--text-color);
}
/* .search-box input:focus {
     border: none;
     outline: none;
} */
.sidebar li a {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    text-decoration: none;
    border-radius: 6px;
    transition: var(--tran-04);
}
.sidebar li a:hover {
    background-color: var(--primary-color);
}

.sidebar li a:hover .icon , 
.sidebar li a:hover .text {
    color: var(--sidebar-color);
}
body.dark .sidebar li a:hover .icon , 
body.dark .sidebar li a:hover .text {
    color: var(--text-color);
}
.sidebar .menu-bar {
    height: calc( 100% - 50px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.menu-bar .mode {
    border-radius: 6px;
    position: relative;
    background-color: var(--primary-color-light);
}
.menu-bar .mode .moon-sun {
    height: 50px;
    width: 60px;
    display: flex;
    align-items: center;
}
.menu-bar .mode i {
    position: absolute;
    transition: var(--tran-02);
}
.menu-bar .mode i.sun {
    opacity: 0;
}
body.dark .menu-bar .mode i.sun{
    opacity: 1;
}
body.dark .menu-bar .mode i.moon{
    opacity: 0;
}
.menu-bar .mode .toggle-switch {
    position: absolute;
    right: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    min-width: 60px;
    cursor: pointer;
    border-radius: 6px;
    background-color: var(--primary-color-light);
    transition: var(--tran-05);
}
.toggle-switch .switch {
    position: relative;
    height: 22px;
    width: 44px;
    border-radius: 25px;
    background:var(--toggle-color) ;
    transition: var(--tran-02);
}
.switch::before {
    content: '';
    position: absolute;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    background: var(--sidebar-color);
    transition: var(--tran-02);
}
body.dark .switch::before {
    left: 24px;
}
.home {
    position: relative;
    left: 250px;
    height: 100vh;
    width: calc(100% - 250px);
    background-color: var(--body-color);
    transition: var(--tran-05);
}
.home .text {
    font-size: 30px ;
    font-weight: 500;
    color: var(--text-color);
    padding: 8px 40px;
}
.sidebar.close ~ .home {
    left: 88px;
    width: calc(100% - 88px);
}
  /* <!--=============== theme button  ===============--> */
  #darkMode-icon {
    font-size: 2.4rem;
    color: var(--container-color);
    cursor: pointer;
  }
  
  .header.sticky #darkMode-icon {
    color: var(--text-color);
    opacity: .9;
  }
  
  .change-theme {
    position: absolute;
    top: 2rem;
    right: 10rem;
    font-size: 3rem;
    color: var(--title-color);
    cursor: pointer;
    transition: 320ms;
  }
  
  .change-theme:hover {
    color: var(--first-color);
  
  }
  
  section {
    min-height: 100vh;
    padding: 10rem 7% 2rem;
    transition: 530ms;
  }
  /* <!--=============== home page   ===============--> */
  .home {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    transition: 530ms;
    
  }
  .btn {
    text-decoration: none;
    display: inline-block;
    padding: 1.2rem;
    background-color: var(--main-color);
    border-radius: .6rem;
    box-shadow: 0 .2rem .5rem var(--shadow-color);
    font-size: 1.6rem;
    color: var(--title-color);
    letter-spacing: .1rem;
    border: .2rem solid transparent;
    font-weight: 600;
  }
  
  .btn:hover {
    background-color: transparent;
    color: var(--main-color);
    border-color: var(--main-color);
  
  }
  
  .home .profession-container {
    /* position: absolute; */
    margin-top: 45%;
    transform: translateY(-50%);
    width: 1000px;
    height: 1020px;
    /* background-color: red; */
    overflow: hidden;
    pointer-events: none;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .home .profession-container .profession-box {
    /* position: absolute; */
    top: 0;
    /* right: 0; */
    width: 650px;
    height: 650px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-animation-name: professionRotate;
    -webkit-animation-duration: 7000ms;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
  
    -moz-animation-name: professionRotate;
    -moz-animation-duration: 7000ms;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
  
    -ms-animation-name: professionRotate;
    -ms-animation-duration: 7000ms;
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: linear;
  
    animation-name: professionRotate;
    animation-duration: 8000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    /* z-index: 10; */
  
  }
  
  .home .profession-box .profession {
    position: absolute;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: var(--main-color);
    transform: rotate(calc(360deg / 4 * var(--i)));
    transform-origin: 325px;
    background-color: var(--back-ground-color);
    /* transition: 530ms; */
    padding: 13px 0;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: #42A5F5;
  }
  
  /* .home .profession-box .profession:nth-child(1) {
    margin-left: -1rem;
  
  }
  
  .home .profession-box .profession:nth-child(2) {
    margin-left: -.5rem;
  }
  
  .home .profession-box .profession:nth-child(3) {
    margin-left: -.5rem;
  }
  
  .home .profession-box .profession:nth-child(4) {
    margin-top: 10rem;
  }
  
  .home .profession i {
    font-size: 3.8rem;
  } */
  
  .home .profession h3 {
    display: flex;
    justify-content: center;
    text-align: center;
    /* align-items: center; */
    font-size: 2.2rem;
    line-height: 1;
    font-weight: 600;
  }
  
  .circle {
    width: 550px;
    height: 550px;
  
    border: 5px solid var(--main-color);
    border-radius: 50%;
  }
  
  @keyframes rotate12 {
    from {
      transform: rotate(0deg);
    }
  
    to {
      transform: rotate(-360deg);
    }
  }
  @keyframes professionRotate {
    0%,20% {
      transform: rotate(0deg);
    }
    25%,45% {
      transform: rotate(-90deg);
    }
    50%,70% {
      transform: rotate(-180deg);
    }
    75%,95% {
      transform: rotate(-270deg);
    }
    100% {
      transform: rotate(-360deg);
    }
  }
  .home .profession-container .overlay {
    position: absolute;
    /* top: 0;
    right: 0; */
    width: 250px;
    height: 700px;
    border-radius: 12rem;
    border: 1rem springgreen solid;
    background-color: white;
    /* transform: rotate(90deg); */
  }
  
  .home-imag {
    position: absolute;
    bottom: 0;
    margin-left: 100rem;
    width: 100%;
    pointer-events: none;
  }